{% load static %}
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EPTL39X1H"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-3EPTL39X1H');
      </script>
            <!-- Google tag (gtag.js) -->


      <title>Invest in a global crypto market with your smartly chosen currency.</title>
      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <meta name="title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta name="description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta property="og:type" content="BitProfilt HTML5 Responsive Template">
      <meta property="og:title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta name="keywords" content="exchange rate, currency exchange, future, currency, trade, forex factory, forex trading, forex rates, currency exchange rates, fxcm, iforex, currency rate, metatrader, online trading, instaforex, foreign exchange rate, currency calculator, stock trading">
      <meta property="og:locale" content="en_US">
      <meta name="twitter:description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta name="twitter:title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta name="twitter:site" content="@BitProfilt">
      <meta property="og:description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta name="twitter:image" content="">
      <meta property="og:site_name" content="BitProfit">
      <meta property="og:image" content="">
      <meta name="twitter:card" content="summary">
      <!-- Css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome/css/all.min.css' %}">
      <!-- Css -->

      <!-- favicon-->
      <link rel="icon" href="{% static 'img/favicon.ico' %}">
      <!--favicon-->

      
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-72x72-precomposed.png' %}" sizes="72x72" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-114x114-precomposed.png' %}" sizes="114x114" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-144x144-precomposed.png' %}" sizes="144x144" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/favicon.png' %}" />
   </head>
   <body>
      <!-- Error -->
      <section class="error-area">
         <div class="container">
            <div class="error-main-warpper">
               <div class="inner-wrapper">
                  <h1 class="theme-title">404</h1>
                  <span>! Oops sorry Page Not Found</span>
                  <p class="theme-description">I'm your loyal server, but i didn't get the page you requested. Try checking your request for any typo.</p>
                  <div class="btn-box">
                     <a href="{% url 'home' %}"><button type="button" class="theme-btn">Go to Home <i class="fas fa-home"></i></button></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Error -->
      <!-- Javascript -->
      <script src="{% static './js/jquery.min.js' %}"></script>
      <script src="{% static './js/popper.min.js' %}"></script>
      <script src="{% static './js/owl.carousel.min.js' %}"></script>
      <script src="{% static './js/bootstrap.min.js' %}"></script>
      <script src="{% static './js/custom.js' %}"></script>
      <!-- Javascript -->
   </body>
</html>