{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EPTL39X1H"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
      
    gtag('config', 'G-3EPTL39X1H');
    </script>
    <!-- Google tag (gtag.js) -->

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Change password </title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- Main Theme Js -->
    <script src="{% static 'js/authentication-main.js' %}"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >

    <!-- Style Css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" >

    <!-- Icons Css -->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" >

</head>

<body class="bg-white">

    <!-- Start Switcher -->

    <!-- End Switcher -->

    <div class="row authentication mx-0">

        <div class="col-xxl-5 col-xl-5 col-lg-12">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-xxl-6 col-xl-9 col-lg-6 col-md-6 col-sm-8 col-12">
                    <div class="card custom-card shadow-none my-4">
                        <div class="card-body p-4">
                            <div class="mb-3 d-flex justify-content-center">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'img/logo-black.png' %}" alt="logo" class="authentication-brand desktop-logo">
                                    <img src="{% static 'img/logo-black.png' %}" alt="logo" class="authentication-brand desktop-dark">
                                </a>
                            </div>
                            <p class="h5 mb-2 text-center">Reset Password</p>
                            <p class="mb-4 text-muted op-7 fw-normal text-center">Hello Stark !</p>
                            <div class="row gy-3">
                                <div class="col-xl-12">
                                    <form action="{% url 'login' %}" method="post">
                                    <label for="reset-password" class="form-label text-default">Current Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control form-control-lg" id="reset-password" placeholder="current password">
                                        <a href="javascript:void(0);" class="show-password-button text-muted"  onclick="createpassword('reset-password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <label for="reset-newpassword" class="form-label text-default">New Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control form-control-lg" id="reset-newpassword" placeholder="new password">
                                        <a href="javascript:void(0);" class="show-password-button text-muted"  onclick="createpassword('reset-newpassword',this)" id="button-addon21"><i class="ri-eye-off-line align-middle"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-12 mb-2">
                                    <label for="reset-confirmpassword" class="form-label text-default">Confirm Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control form-control-lg" id="reset-confirmpassword" placeholder="confirm password">
                                        <a href="javascript:void(0);" class="show-password-button text-muted"  onclick="createpassword('reset-confirmpassword',this)" id="button-addon22"><i class="ri-eye-off-line align-middle"></i></a>
                                    </div>
                                    <div class="mt-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                                Remember password ?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="d-grid mt-4">
                                <input type="submit" value="Save" class="btn btn-lg btn-primary text-bold">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-7 col-xl-7 col-lg-7 d-xl-block d-none px-0">
            <div class="authentication-cover bg-primary">
                <div>
                    <div class="authentication-cover-image">
                        <img src="{% static 'img/resetpassword.png' %}" alt="">
                    </div>
                    <div class="text-center mb-4">
                        <h3 class="text-fixed-white">Reset Password</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer mt-auto py-3 bg-white text-center">
        <div class="container">
            <span class="text-muted"> Copyright © <span class="year" id="year">0000</span> <a
                    href="javascript:void(0);" class="text-dark fw-medium">Bitprofit LLC. </a>
               <a href="javascript:void(0);">
                </a> All
                rights
                reserved
            </span>
        </div>
    </footer>
  </footer>
  <!-- Footer -->
<script>
  let yearElement = document.getElementsByClassName('year')[0];

  function NewYear() {
  let thisYear = new Date().getFullYear();
  yearElement.textContent = thisYear;
  }
  NewYear();
</script>

    <!-- Bootstrap JS -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Swiper JS -->
    <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Internal Authentication JS -->
    <script src="{% static 'js/authentication.js' %}"></script>

    <!-- Show Password JS -->
    <script src="{% static 'js/show-password.js' %}"></script>

</body>

</html>