{% load static %}
<!DOCTYPE html>
<html lang="en_US">
   <head>
            <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EPTL39X1H"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-3EPTL39X1H');
      </script>
      <!-- Google tag (gtag.js) -->
      <title>Password reset.</title>
      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <meta name="title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta name="description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta property="og:title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta name="keywords" content="exchange rate, currency exchange, future, currency, trade, forex factory, forex trading, forex rates, currency exchange rates, fxcm, iforex, currency rate, metatrader, online trading, instaforex, foreign exchange rate, currency calculator, stock trading">
      <meta property="og:locale" content="en_US">
      <meta name="twitter:description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta name="twitter:title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta property="og:description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta name="twitter:image" content="">
      <meta property="og:image" content="">
      <meta name="twitter:card" content="summary">
      <!-- Css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome/css/all.min.css' %}">
      <!-- Css -->

      <!-- favicon-->
      <link rel="icon" href="{% static 'img/favicon.ico' %}">
      <!--favicon-->


      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-72x72-precomposed.png' %}" sizes="72x72" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-114x114-precomposed.png' %}" sizes="114x114" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-144x144-precomposed.png' %}" sizes="144x144" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/favicon.png' %}" />
   </head>
   <body>
      <!-- Forgot Password -->
      <section class="login-area">
         <div class="login-main-box">
            <div class="box-left">
               <div class="login-top">
                  <div class="logo-box">
                     <a href="{% url 'home' %}"><img src="{% static './img/logo.png' %}" alt="Logo" /></a>  
                  </div>
                  <h2 class="theme-title">Reset your Password</h2>
                  <p class="theme-description">Enter your new password below to proceed</p>
                  <p class="theme-description text-danger"><em></em></p>
               </div>
               <form method="post">
                  {% csrf_token %}
               <div class="main-inner-box">
                  <div class="theme-input-box">
                     <label for="text">New password</label>
                     <div class="input-box">
                        <input name="new_password1" type="password" class="form-control theme-input" placeholder="Enter new password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.">
                        <i class="fa-solid fa-key"></i>
                     </div>
                  </div>
                  <div class="theme-input-box">
                     <label for="text">Confirm new password</label>
                     <div class="input-box">
                        <input name="new_password2" type="password" class="form-control theme-input" placeholder="Confirm new password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.">
                        <i class="fa-solid fa-key"></i>
                     </div>
                  </div>
                  <div class="btn-box ">
                     <button type="submit" class="theme-btn">Confirm Changes</button>
                  </div>
               </form>
                  <div class="link-box">
                     <p class="theme-description">Remembered password ? <a href="{% url 'login' %}" class="text-link">Login</a></p>
                  </div>
               </div>
            </div>
            <div class="box-right">
            </div>
         </div>
      </section>
      <!-- Forgot Password -->
      <!-- Javascript -->
      <script src="{% static './js/jquery.min.js' %}"></script>
      <script src="{% static './js/popper.min.js' %}"></script>
      <script src="{% static './js/owl.carousel.min.js' %}"></script>
      <script src="{% static './js/bootstrap.min.js' %}"></script>
      <script src="{% static './js/custom.js' %}"></script>
      <script src="https://kit.fontawesome.com/f465f589c1.js" crossorigin="anonymous"></script>
      <!-- Javascript -->
   </body>
</html>