{% load static %}
<!DOCTYPE html>
<html lang="en_US">
   <head>

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EPTL39X1H"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-3EPTL39X1H');
      </script>
      <!-- Google tag (gtag.js) -->
      
      <title>Invest in a global crypto market with your smartly chosen currency.</title>
      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <meta name="title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta name="description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta property="og:title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta name="keywords" content="exchange rate, currency exchange, future, currency, trade, forex factory, forex trading, forex rates, currency exchange rates, fxcm, iforex, currency rate, metatrader, online trading, instaforex, foreign exchange rate, currency calculator, stock trading">
      <meta property="og:locale" content="en_US">
      <meta name="twitter:description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta name="twitter:title" content="Invest in a global crypto market with your smartly chosen currency.">
      <meta property="og:description" content="Investment and forex have a larger customer base who have invested successfully in it by choosing the perfect crypto for their better future stock growth.">
      <meta name="twitter:image" content="">
      <meta property="og:site_name" content="BitProfit">

      <!-- Css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome/css/all.min.css' %}">
      <!-- Css -->

      <!-- favicon-->
      <link rel="icon" href="{% static 'img/favicon.ico' %}">
      <!--favicon-->

      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-72x72-precomposed.png' %}" sizes="72x72" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-114x114-precomposed.png' %}" sizes="114x114" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/apple-touch-icon-144x144-precomposed.png' %}" sizes="144x144" />
      <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{% static './img/favicon.png' %}" />
   </head>
   <body>
      <!-- Header -->
      <header class="header-main fixed-header">
         <div class="header-top">
            <div class="container">
               <div class="row">
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                     <div class="left-topbar">
                        <ul>
                           <li><i class="fas fa-envelope-open"></i>info@bitprofitonline.com</li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                     <div class="right-topbar">
                        <ul>
                           <li><a href="https://facebook.com/bitprofitonline"><i class="fab fa-facebook"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="header-bottom">
            <div class="header-right clearfix">
               <div class="header-nav-menu">
                  <div class="container">
                     <div class="main-headers">
                        <div class="logo-header">
                           <a class="logo-link" href="{% url 'home' %}">
                              <div class="logo-box">
                                 <img src="{% static './img/logo.png' %}" alt="logo"  >
                              </div>
                           </a>
                        </div>
                        <div class="header-navbar-menu clearfix">
                           <nav class="navbar navbar-expand-lg navbar-light">
                              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <i class="fas fa-bars"></i>
                              </button>
                              <div class="collapse navbar-collapse header-links" id="navbarSupportedContent">
                                 <ul class="navbar-nav mr-auto nav-list">
                                    <li class="nav-item active">
                                       <a class="nav-link" href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="nav-item ">
                                       <a class="nav-link" href="#">Company <i class="fas fa-caret-down ml-1"></i></a>
                                       <ul class="dropdown__menu__box">
                                          <li><a href="{% url 'about' %}">About </a></li>
                                          <li><a href="{% url 'contact' %}">Contact</a></li>
                                          <li><a href="{% url 'roadmap' %}">Roadmap</a></li>
                                       </ul>
                                    </li>
                                    <li class="nav-item ">
                                       <a class="nav-link" href="{% url 'login' %}">Login</a>
                                    </li>
                                 </ul>
                              </div>
                           </nav>
                           <div class="right-menu">
                              <a href="{% url 'broker' %}"><button type="button" class="theme-btn">BROKER</button></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- Header -->
      <!-- Breadcrumb -->
      <div class="breadcrumb-area">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="breadcrumb-title clearfix">
                     <div class="heading">
                        <h2 class="theme-title">Terms & Condition</h2>
                     </div>
                     <div class="breadcumb-link">
                        <ul>
                           <li><a href="{% url 'home' %}" class="text-link">Home <span class="slash-breacumb">/</span></a></li>
                           <li>Terms & Condition</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Breadcrumb -->
      <!-- Trader -->
      <section class="trader-join-area page-padding">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="page-title text-center">
                     <span>Terms & Condition</span>
                     <h2 class="theme-title">Our Terms & Condition</h2>
                     <p class="text-sm text-muted">By accessing this website and it's services, we assume that you have read and consent to this terms in full. Please discontinue the use of this website if you do not agree to the terms of services outlined herein.</p>
                     <br>
                     <div class="text-sm text-muted">
                        Effective Date: 02 Jan, 2022
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-12">
                  <div class="privacy-box">
                     <h4 class="theme-title"><i class="fas fa-dot-circle mr-1"></i>Cookie collections</h4>
                     <p class="theme-description">We employ the use of cookies. By using BitProfitOnline, you consent to the use of cookies in accordance with our privacy policy. Most interactive websites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate/advertising partners may also use cookies.</p>
                  </div>
                  <div class="privacy-box">
                     <h4 class="theme-title"><i class="fas fa-dot-circle mr-1"></i>IP config</h4>
                     <p class="theme-description">We may collect and analyze information about your computer, including your IP address, operating system, and browser type, for system administration and security purposes. This information is statistical data about our users' browsing actions and patterns and does not identify any individual. <strong>Note that Bitprofit is strictly a financial service provider and do not partner with any third party for any data sharing related activities or for targeted adverts, for whatsoever reason. we guarantee 100% data safety and integrity.</strong>Using VPN to access this website may cause resctricted access!.</p>
                  </div>
                  <div class="privacy-box">
                     <h4 class="theme-title"><i class="fas fa-dot-circle mr-1"></i>Security</h4>
                     <p class="theme-description">As a financial service company, We take the security of our website as our top priority. Any unauthorized attempts to upload or change information, or otherwise cause damage to this service, are strictly prohibited and will be punishable under applicable law.</p>
                  </div>
                  <div class="privacy-box">
                     <h4 class="theme-title"><i class="fas fa-dot-circle mr-1"></i>Information We Collect:</h4>
                     <p class="theme-description">We use web analytics tools, such as Google Analytics, to collect information about your interaction with our website. This may include but is not limited to:
                        <ol>
                           <li>Pages visited </li>
                              <li>Time spent on each page</li>
                              <li>Clicks on links </li> 
                              <li>Browser type and version</li> 
                              <li>Device type </li> 
                              <li>IP address </li> 
                        </ol>
                        </p>
                  </div>
                  <div class="privacy-box">
                     <h4 class="theme-title"><i class="fas fa-dot-circle mr-1"></i>Use of Information:</h4>
                     <p class="theme-description">The data collected is used to analyze user behavior and improve our website's content and user experience. We may also use this information to measure the effectiveness of our marketing efforts. <strong>strictly No Third party cookies on this website.</strong></p>
                  </div>
                  <div class="privacy-box">
                     <h4 class="theme-title"><i class="fas fa-dot-circle mr-1"></i>Changes to Privacy Policy:</h4>
                     <p class="theme-description">We reserve the right to update or change our Privacy Policy at any time. Any changes will be effective immediately upon posting.</p>
                  </div>
                  <div class="privacy-box">
                     <h4 class="theme-title"><i class="fas fa-dot-circle mr-1"></i>Contact Us:</h4>
                     <p class="theme-description">If you have any questions or concerns about our Privacy Policy, please contact us using <a href="mailto:support@bitprofitonline.com">Our support mail </a>or quickly use the chat button to open a chat with a live support agent. </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Trader -->
      <!-- Footer -->
      <footer class="footer">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="footer-box">
                     <div class="img-box">
                        <img src="{% static './img/logo-black.png' %}" alt="logo">
                     </div>
                     <p class="theme-description">Connect with us to make your Crypto trading experience worthy and Get the exact solution to the mark for your crypto exchange.</p>
                     <div class="social-links">
                        <ul>                        
                           <li><a href="https://facebook.com/bitprofitonline"><i class="fab fa-facebook"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="footer-box">
                     <h4 class="theme-title">Instruments</h4>
                     <div class="links-box">
                        <ul>
                           <li><a href="{% url 'home' %}"><i class="fas fa-angle-right"></i>Home</a></li>
                           <li><a href="{% url 'about' %}"><i class="fas fa-angle-right"></i>About</a></li>
                           <li><a href="{% url 'roadmap' %}"><i class="fas fa-angle-right"></i>Roadmap</a></li>
                           <li><a href="{% url 'faqs' %}"><i class="fas fa-angle-right"></i>FAQ'S</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="footer-box">
                     <h4 class="theme-title">Company</h4>
                     <div class="links-box">
                        <ul>
                           <li><a href="{% url 'policy' %}"><i class="fas fa-angle-right"></i>Privacy policy</a></li>
                           <li><a href="{% url 'terms' %}"><i class="fas fa-angle-right"></i>Terms & Condition</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <footer class="footer mt-auto py-3 bg-white text-center">
         <div class="container">
             <span class="text-muted"> Copyright © <span class="year" id="year">0000</span> <a
                     href="javascript:void(0);" class="text-dark fw-medium">Bitprofit LLC. </a>
                <a href="javascript:void(0);">
                 </a> All
                 rights
                 reserved
             </span>
         </div>
     </footer>
   </footer>
   <!-- Footer -->
<script>
   let yearElement = document.getElementsByClassName('year')[0];

   function NewYear() {
   let thisYear = new Date().getFullYear();
   yearElement.textContent = thisYear;
   }
   NewYear();
</script>
      <!-- Footer -->
      <!-- Javascript -->
      <script src="//code.tidio.co/s7s7pkpgzioqwkyxuqph94yrpdafdwdh.js" async></script>
      <script src="{% static './js/jquery.min.js' %}"></script>
      <script src="{% static './js/popper.min.js' %}"></script>
      <script src="{% static './js/owl.carousel.min.js' %}"></script>
      <script src="{% static './js/bootstrap.min.js' %}"></script>
      <script src="{% static './js/custom.js' %}"></script>
      <!-- Javascript -->
   </body>
</html>