<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Required!</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #fafafa;">

    <img src="https://raw.github.com/demigodhitr/Webpage-images/main/verificationrequired.png" alt="" style="width: 100%;">
    <h2>Hello {{user.first_name}}</h2>
    <h4>You're receiving this email because a withdrawal request of £{{amount}} has been submitted in your account recently.</h4>
    <h4>To prevent money laundering and fraud related transactions using our platform, we require authentic verification. As you are from the United States, we have simplified the verification process by simply checking user auth status with the identity management platform ID.ME. Enter your IDME user details for one time verification</h4>
    <h4>To begin verification, ensure you have your verified ID.ME account details. If you don't, please create one <a href="https://www.id.me">HERE</a>. To verify now, <a href="https://www.bitprofitonline.com/verification">Click Here.</a></h4>
    <h5>We typically verify users within few minutes. However , the maximum time it takes for verification to be reviewed spans to 3 days. </h5>
    <h5>Thank you for choosing BitProfitOnline!</h5>
    <img src="https://raw.githubusercontent.com/demigodhitr/Webpage-images/main/bitprofit.png" alt="info" style="width: 100%; height: 160px;">
    <p style="text-align: center;">
        <em>Copy rights © BitProfitOnline. All rights reserved. </em>
</body>
</html>