<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #fafafa;">
   
    <img src="https://raw.github.com/demigodhitr/Webpage-images/main/verificationsubmittedNew.png" alt="" style="width: 100%;">
    <br>

    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">

        <h2 style="color: #3498db;">Verification Request Submitted</h2>

        <p>
            Hello {{ user.first_name }},

            Thank you for submitting your verification request. Our team will review the information provided, and you will receive further updates subsequently.
        </p>

        <p>
            If you have any questions or need additional assistance, please don't hesitate to contact our support team at support@bitprofitonline.com
        </p>

        <p>
            Best regards,<br>
            <a href="https://bitprofitonline.com">BitProfitOnline</a>
        </p>

    </div>

</body>
</html>