<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BitProfitOnline</title>
</head>
<script src="https://kit.fontawesome.com/c7bf746142.js" crossorigin="anonymous"></script>
<body style="font-family: Arial, sans-serif; background-color: #fafafa;">
        <br><br>
        <img style="margin: 0px 0px 0px 45%;" src="https://raw.github.com/demigodhitr/Webpage-images/main/culture.png" alt="">
    <h1>Hello {{ user.first_name }}!</h1>
    <p>Welcome to BitProfitOnline. We're glad to have you on board!</p>
    <p>We are excited to announce that your account has been credited with credit voucher of <span style="
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: #e83a5a;
    width: fit-content;
    border: 2px solid rgb(227, 220, 253);
    border-radius: 5px;
    background-color: rgb(227, 220, 253);
    font-weight: bolder;
    padding: 3px;
    margin:10px 10px;">£15 </span>!</p>
    <br>
    <p>To login using the details below, <a style="text-decoration: none; padding: 10px; background-color: #f54f1c; color: #ffffff; border-radius: 8px;" href="https://www.bitprofitonline.com/login">Tap here</a></p>
    <br>
    <h3>Login email: <strong style="text-decoration: underline;">{{ user.email }}</strong></h3>
    <h3>account username: <strong style="text-decoration: underline;">{{ user.username }} </strong></h3>
    <h3>Login Password: your password.</h3>
    <br>
    <h3>Based on our existing users experiences, we have analysed few things you may want to do next.</h3>
    <ol>
        <li>Fund account</li>
        <p style="line-height: 30px;">As a newly registered investor, you qualify for our <span style="
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            color: #e83a5a;
            width: fit-content;
            border: 2px solid rgb(227, 220, 253);
            border-radius: 5px;
            background-color: rgb(227, 220, 253);
            font-weight: bolder;
            padding: 3px;
            margin:10px 5px;">£15 </span>registration bonus. The ability to withdraw this sum is limited to few regions only. Investors from other regions who are not able to withdraw are required to have at least one completed investment to be able to withdraw. Generally, all Bonus are subject to <a style="text-decoration: none; padding: 10px 15px; background-color: #f54f1c; color: #ffffff; border-radius: 8px;" href="https://www.bitprofitonline.com/terms">T&Cs</a></p>
        <br>
        <li>Start your investment.</li>
        <p style="line-height: 30px;">When you deposit for a particular investment plan and your deposit is confirmed, your Trader will start a trade on your account. this trade would usually last from a minimum duration of 5 days to a maximum duration of 1½ Month. this wholly depends on your investment plan. for reference, see our <a style="text-decoration: none; padding: 10px 15px; background-color: #f54f1c; color: #ffffff; border-radius: 8px;" href="https://www.bitprofitonline.com/investmentplans">investment plans</a></p>
        <li>Tell a friend.</li>
        <p>When you refer investors, you grow our community and also create wealth network within your community. at Bitprofit, we appreciate thoughtfulness such as referrals by chaneling a little bit of your referral's earnings.</p>

    </ol>
    
    <h3>For more informations, queries and complaints, you can <a style="text-decoration: none;" href="mailto:support@bitprofitonline.com?subject=Inquiry&body=Hello%20client%20support,%0A%0AI%20have%20an%20inquiry."><strong>Contact us here</strong></a></h3>

    <p style="font-style: italic; text-decoration: none; padding: 40px 20px; background-color: #f54f1c; color: #ffffff; border-radius: 8px;">You've received this email because you recently registered at <a style="text-decoration: none;" href="https://www.bitprofitonline.com">BitProfitOnline.</a>.</p>
    <img src="https://raw.githubusercontent.com/demigodhitr/Webpage-images/main/bitprofit.png" alt="info" style="width: 100%; height: 160px;">
    <p style="text-align: center;">
        <em>Copy rights © bitprofitonline. All rights reserved. <a href="https://www.facebook.com/bitprofitonline"><i class="fa-brands fa-facebook"></i> @bitprofitonline</a></em>
    </p>

</body>
</html>
